body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
h1 {
    width: 100%;
    padding: 2%;
    text-align: center;
    font-size: 7vh;
    background-color: green;
    color: white;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
}
.container a {
    text-decoration: none;
    border: 1px solid green;
    width: 28%;
    border-radius: 50px 50px 0 0;
}
.pujaType {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pujaType img {
    width: 100%;
    padding: 5%;
    border-radius: 50px;
}
.pujaType h2 {
    background-color: green;
    color: white;
    width: 100%;
    text-align: center;
    padding: 2%;
    font-size: 4vh;
}
footer {
    background-color: #ddd;
    color: black;
    padding: .5%;
    text-align: center;
    width: 100%;
}

/* Responsive website creation */
@media only screen and (max-width: 420px) {
    h1 {
        width: 100%;
        padding: 1%;
        text-align: center;
        font-size: 5vh;
        background-color: green;
        color: white;
        margin-bottom: 2%;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .container a {
        text-decoration: none;
        border: 1px solid green;
        width: 60%;
        border-radius: 10px 10px 0 0;
        margin: 2%;
    }
    .pujaType img {
        width: 90%;
        padding: 3%;
        border-radius: 10px;
    }
    .pujaType h2 {
        background-color: green;
        color: white;
        width: 100%;
        text-align: center;
        padding: 1%;
        font-size: 3vh;
    }
}
